@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
}


a, .btn {
    transition: all 300ms ease;

}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 20px;
    justify-items: center;
}

a {
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.logo img {
    width: 70px;
    justify-content: left;
}

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
transform: rotate(45deg) translate(5px, 3px);
}

.hamburger-icon.open span:nth-child(2){
transform: rotate(-45deg) translate(5px, -3px);
}

.hamburger-icon.open span:last-child{
    opacity: 0;
}

section{
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.intro{
    height: 100vh;
}

.project{
    margin-left: 150px;
    margin-right: 150px;
    height: 100vh;
}

.smiley{
    margin: 0;
    padding-top: 5vh;
    padding-left: 90px;
    padding-bottom: 0px;
    width: 80px;
    height: 80px;
}

.smiley:hover{
    animation: Shake 0.5s linear infinite;
}

@keyframes Shake { 
    0% { 
        transform: rotate(5deg); 
    } 
  
    25% { 
        transform: rotate(-6deg); 
    } 
  
    50% { 
        transform: rotate(5deg); 
    } 
  
    75% { 
        transform: rotate(-6deg); 
    } 
  
    100% { 
        transform: rotate(5deg); 
    } 
}

h1{
    padding-top: 0;
    text-align: center;
    font-size: 100px;
    height: 120px;
    font-weight: 200;
    z-index: 1;
}

.caption{
    width: 800px;
    margin: auto;
    text-align: center;
    padding-bottom: 20vh;
}

.caption span:hover{
    background-color: #aec646;
}

span{
    background-color:#CFDD91;
}

.underline{
    padding-left: 40vw;
    width: 400px;
    padding-bottom: 20px;
    z-index: auto;
}

.ri-arrow-down-wide-line{
    display: flex;
    justify-content: center;
    align-items: bottom;
    font-size: 36px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

@-webkit-keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-20px); }
}
@keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-20px); }
}

.img-container{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-container img{
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
}

.overlay-text{
    position: absolute;
    font-weight: 600;
}

.overlay-text:hover{
    transform: scale(1.5);
}

.small{
    font-weight: 300;
    padding-top: 20px;
    font-size: 40px;
    height: 60px;
}

.xs{
    text-align: center;
    font-size: 18px;
}

.ux-under{
    padding: 0px 0px 0px 22vw;
    width: 500px;
    height: 30px;
  }

.about-me{
    display: flex;
}

.profile img{
    width: 400px;
    height: 600px;
    padding-left: 80px;
}

.text{
    width: 520px;
    font-size: 18px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.title{
    line-height: 0.5;
    padding-bottom: 20px;
}

.title h2{
    padding-left: 100px;
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.title img{
    width: 45px;
    height: 45px;
    padding-top: 0;
    padding-bottom: 0;
}

.decor-1{
    padding-left: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

.decor-2{
    padding-left: 350px;
    padding-top: 0;
    padding-bottom: 0;
}

.btn{
    background-color: #CFDD91;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    width: fit-content;
    margin: 10px 10px 10px 0px;
    justify-content: center;
    
}

.btn a{
    padding:0;
}

.btn:hover{
    background-color:#aec646;
}

.space-btn{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 100px 0px 100px;
}

.container-1 .user{
    padding-left: 100px;
    width: 1050px;
    text-align: center;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px 0px 100px;
}

.container-2 .info{
    margin: 100px;
}


.details-container {
    min-height: 400px;
    margin-top: 2rem;
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    justify-content: space-between;
  }

.banner{
    background-color: #CFDD91;
    margin: 0;
    height: 30vh;
    text-align: center;
    margin-bottom: 50px;
}

.banner h1{
    padding: 5px 0px 20px 0px;
}

.scroll-container {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding: 40px 0px 100px 100px;
  }

  .scroll-item{
    padding: 40px;
    min-height: 450px;
    min-width: 350px;
    /*border: #CFDD91 solid;*/
    margin-right: 10px;
    align-items: flex-end;
  }

  .content{
    position: relative;
    bottom: 5px;
  }

  .scroll-item p{
    font-size: 15px;
    width: 230px;
  }

  .proj-title{
    line-height: 0.5;
    padding: 30px 0px 5px 139px;

  }

  .scroll-item a{
    padding-left:0px;
  }

  ::-webkit-scrollbar {
    width:0px;
  }
  
  ::-webkit-scrollbar-track {
    background:transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background:transparent;
  }


  .web-under{
    width: 225px;
    height: 20px;
    padding: 0px 0px 10px 115px;
  }

  .other-under{
    width: 375px;
    height: 20px;
    padding: 0px 0px 10px 115px;
  }

  .proj-img{
    height: 300px;
    width: 300px;
    object-fit: contain;
    object-position: center center;
    padding-bottom: 20px;
  }

  .persona{
    width: 250px;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
  }

  footer{
    background-color: #CFDD91;
    line-height: 2;
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }

  footer a:hover{
    font-weight: 700;
  }

  .unavailable{
    color: rgb(162, 162, 162);
  }

  .project h2{
    max-width: fit-content;
    text-align: center;
    padding: 0px 5px;
    background: linear-gradient(
        to bottom,
        transparent 60%,
        #CFDD91 40%
    );
  }

  .project p{
    padding-top: 20px;
  }

  .center{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }